.contact{
  height: 550px;
  width: 100%;
  background-color: #fff;
  &__content-title{
    text-align: center;
    width: 700px;
    font-size: 2em;
  }
  &__content-wrap{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top:50px;
  }
  &__content-body{
    width: 100%;
  }
  &__content-form{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    margin-bottom: 15px;
    &:focus{
      outline: none;
      border-bottom: 1px solid $primary-color;
    }
  }
  &__content-areaForm{
    margin:20px 0 20px;
    height: 200px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    resize: none;
    &:focus{
      outline: none;
      border-bottom: 1px solid $primary-color;
    }
  }
  &__content-buttom{
    display: block;
    padding: 10px 30px;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
  }
}