.passrePasswordReminder{
    height: 590px;
    width: 1400px;
    background-color: #fff;
    border-radius: 3px;
    padding: 170px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
    top:-20px;
  &__content{
    height: 200px;
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
  }
  &__input{
    border: 1px solid #b4becb;
    height: 40px;
    width: 700px;
  }
  &__title{
    font-size: 2rem;
    text-align: center;
  }
  &__content-bottom{
    display: block;
    height: 46px;
    width: 116px;
    margin: 20px auto 0;
    padding: 10px 27px;
    font-size: 15px;
    background-color: #06D1EC;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
  }
}