.revDeCompanyInfo{
  height: 580px;
  width: 1550px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -90px;
  overflow: hidden;
  &__header{
    height: 70px;
    width: 1530px;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #b4becb;
  }
  &__mainWrap{
    height: 50px;
    width: 1350px;
    padding:0 350px;
    margin: 0 auto;
  }
  &__title{
    height: 50px;
    width: 250px;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 10px;
    float: left;
  }
  &__subWrap{
    float: left;
    margin-top: 15px;
    overflow: hidden;
  }
  &__totalNumberOfPostedReviews{
    float: left;
  }
  &__compDetailLink{
    margin-left: 5px;
    float: left;
  }

  &__content{
    &-EnrollmentPeriodInformation{
      width: 200px;
      border-bottom: 1px solid #b4becb;
    }
  }
}