.revDeCompanyInfo{
  height: 380px;
  width: 1450px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  top: -90px;
  overflow: hidden;

  &__header{
    height: 70px;
    width: 1530px;
    margin: 0 10px;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #b4becb;
    &-mainWrap{
      height: 50px;
      width: 1350px;
      padding:0 350px;
      margin: 0 auto;
    }
    &-title{
      height: 50px;
      width: 250px;
      margin-top: 5px;
      font-size: 28px;
      font-weight: 10px;
      float: left;
    }
    &-subWrap{
      float: left;
      margin-top: 15px;
      overflow: hidden;
    }
    &-totalNumberOfPostedReviews{
      float: left;
    }
    &-compDetailLink{
      margin-left: 5px;
      float: left;
    }
  }

  // =============================_

  &__content{
    width: 1000px;
    margin: 50px auto 0;
    &-enrollmentPeriodInformation{
      width: 200px;
      border-bottom: 1px solid #b4becb;
      margin: 0 auto 20px;
    }

    // =============================
    &-enrollmentStatusJoiningRoute-wrap{
      overflow: hidden;
      width: 900px;
      margin: 0 auto 20px;
    }
    &-enrollmentStatus{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
    }
    &-joiningRoute{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
      margin-left: 100px;
    }
    // =============================

    // =============================
    &-occupationAtTheTimeOfEnrollmentJobTitleAtTheTimeOfEnrollment-wrap{
      overflow: hidden;
      width: 900px;
      margin: 0 auto 20px;
    }
    &-occupationAtTheTimeOfEnrollment{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
    }
    &-jobTitleAtTheTimeOfEnrollment{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
      margin-left: 100px;
    }
    // =============================

    // =============================
    &-employmentStatusEnrollmentPeriod-wrap{
      width: 900px;
      margin: 0 auto;
    }

    &-employmentStatus{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
    }
    &-enrollmentPeriod{
      width: 400px;
      border-bottom: 1px solid #b4becb;
      float: left;
      margin-left: 100px;
    }
    // =============================

  }
}