// メニューバーの内容部分のスタイル
.menuAbout{
  max-height: 2421px;
  width: 100%;
  background: #2A3A50;
  display: block;
  position: fixed;
  top: 70px;
  left: -100%;
  text-align: center;
  transition: all .5s;
  border-top: 1px solid #b4becb;
  border-bottom: 1px solid #b4becb;
  z-index: 2;

  // jsの処理によって付属されるクラス
  &.active{
    transition: all .5s;
    transform: translateX(100%);
  }

  &__itemWrap{
    height: 100%;
    width: 100%;
    display: block;
  }
  &__itemWrap-item{
    height: 9%;
    display: block;
    padding: 32px 0;
    font-size: 20px;
    text-decoration:none;
    font-family: montserrat;
    color:#fff;
    &:visited{
      color:#fff;
    }
    &:hover{
      transition: .5s;
      border-top: 1px solid #b4becb;
      border-bottom: 1px solid #b4becb;
      background-color: #fff;
      color: #0082e6;
    }
  }

}