.hero{
  height: 400px;
  width: 100%;
  background-color: $primary-color;
  position: relative;
  &::after{
    //ヒーローバナーの模様部分
    content: "";
    height:100px;
    background-color: #fff;
    display: block;
    transform: skewY(-3deg);
  }
  &__content{
    height: 100%;
    max-width: 1100px;
    margin:0 auto;
    //基本的にはoverflow:hidden;で親要素からはみ出た際に早めに気づける様に
    //するがここのみレイアウトの都合上、overflow:visible;を使う。
    overflow: visible;
  }
  &__text-wrap{
    height: 250px;
    width: 500px;
    margin-right: 100px;
    color:#fff;
    float: left;
    position: relative;
    top: 100px;
    text-align: center;
  }
  &__text-catchtheam{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    margin:20px 0;
  }
  &__text-about{

  }
  &__text-aboutLink{
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px 30px;
    position: relative;
    top: 20px;
    text-decoration:none;
    &:link{
      color:#fff;
    }
    &:visited{
      color:#fff;
    }
  }
  &__signup{
    height: 350px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: left;
    position: relative;
    top:100px;
    z-index: 5;
  }
}