@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap';

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Lato', sans-serif;
  overscroll-behavior: none;
  color: #333;
  line-height: 1.6;
  position: relative;
}

input{
  appearance: none;
  outline: none;
  border: 0;
}

a{
  text-decoration: none;
  &:link{
    color:#fff;
  }
  &:visited{
    color:#fff;
  }
}

button{
  border: 0;
}

//お気に入り登録ボタン用クラス
.activeLike{
  background-color: #ffff00;
  width: 100px;
  height: 100px;
}