/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  overscroll-behavior: none;
  color: #333;
  line-height: 1.6;
  position: relative; }

.footer {
  background-color: #002240;
  padding: 4rem 0; }
  .footer__element-wrap {
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto; }
  .footer__element-copyrightTitle {
    font-size: 2em; }
  .footer__element-copyright {
    height: 103px;
    width: 326px;
    color: #fff;
    margin-right: 10px;
    float: left; }
  .footer__element-link {
    height: 93px;
    width: 326px;
    color: #fff;
    margin-right: 10px;
    float: left; }
  .footer__element-sns {
    height: 93px;
    width: 326px;
    color: #fff;
    float: left; }

.header {
  height: 70px;
  background-color: #047aed;
  overflow: hidden;
  width: 100%; }
  .header.active {
    position: fixed;
    z-index: 2; }
  .header__content-wrap {
    height: 100%;
    margin: 0 auto;
    max-width: 1100px; }
  .header__title {
    display: inline;
    font-size: 2em;
    position: relative;
    color: #fff;
    top: calc(70px / 2 - 51px / 2);
    margin-left: 67px;
    font-weight: 300; }
  .header__nav {
    float: right;
    position: relative;
    margin-right: 67px;
    top: calc(70px / 2 - 25px / 2); }
    .header__nav-list {
      list-style-type: none;
      float: left;
      margin-right: 10px;
      color: #fff; }
      .header__nav-list:last-child {
        margin-right: 0px; }
      .header__nav-list:hover {
        border-bottom: 2px #fff solid; }

.intro {
  height: 265px;
  background-color: #047aed; }
  .intro__wrap {
    height: 250px;
    width: 970px;
    margin: 0 auto;
    overflow: hidden; }
  .intro__text {
    float: left;
    width: 340px;
    margin-right: 430px;
    position: relative;
    top: calc(265px / 2 - 76px / 2); }
  .intro__text-title {
    font-size: 3rem;
    font-weight: 350px;
    width: 100%;
    line-height: 0.8;
    color: #fff; }
  .intro__text-sub {
    font-size: 1rem;
    color: #fff; }
  .intro__icon {
    float: left;
    width: 200px;
    position: relative;
    top: calc(265px / 2 - 200px / 2); }

.menuAbout {
  max-height: 2421px;
  width: 100%;
  background: #2A3A50;
  display: block;
  position: fixed;
  top: 70px;
  left: -100%;
  text-align: center;
  transition: all .5s;
  border-top: 1px solid #b4becb;
  border-bottom: 1px solid #b4becb;
  z-index: 2; }
  .menuAbout.active {
    transition: all .5s;
    transform: translateX(100%); }
  .menuAbout__itemWrap {
    height: 100%;
    width: 100%;
    display: block; }
  .menuAbout__itemWrap-item {
    height: 9%;
    display: block;
    padding: 32px 0;
    font-size: 20px;
    text-decoration: none;
    font-family: montserrat;
    color: #fff; }
    .menuAbout__itemWrap-item:visited {
      color: #fff; }
    .menuAbout__itemWrap-item:hover {
      transition: .5s;
      border-top: 1px solid #b4becb;
      border-bottom: 1px solid #b4becb;
      background-color: #fff;
      color: #0082e6; }

.revProgress {
  height: 440px;
  width: 290px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  float: left; }
  .revProgress__content-wrap {
    position: relative;
    top: calc(310px / 2 - 220px / 2);
    width: 180px;
    margin: 0 auto; }
  .revProgress__content-title {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0; }
  .revProgress__content-guide {
    font-weight: 10;
    font-size: 0.8rem;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid #b4becb; }

.about {
  height: 500px;
  background-color: #047aed;
  text-align: center;
  position: relative; }
  .about__content-wrap {
    height: 400px;
    max-width: 1600px;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    color: #fff; }
  .about__content-title {
    font-size: 2em;
    padding: 20px 0px; }
  .about__content-text {
    width: 80%;
    margin: 0 auto; }
  .about__content-link {
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px 30px;
    position: relative;
    top: 30px;
    border-radius: 5px;
    text-decoration: none; }
    .about__content-link:link {
      color: #fff; }
    .about__content-link:visited {
      color: #fff; }
    .about__content-link:hover {
      transition: all .5s;
      background-color: #fff;
      color: #047aed; }

.contact {
  height: 550px;
  width: 100%;
  background-color: #fff; }
  .contact__content-title {
    text-align: center;
    width: 700px;
    font-size: 2em; }
  .contact__content-wrap {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    top: 50px; }
  .contact__content-body {
    width: 100%; }
  .contact__content-form {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    margin-bottom: 15px; }
    .contact__content-form:focus {
      outline: none;
      border-bottom: 1px solid #047aed; }
  .contact__content-areaForm {
    margin: 20px 0 20px;
    height: 200px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    resize: none; }
    .contact__content-areaForm:focus {
      outline: none;
      border-bottom: 1px solid #047aed; }
  .contact__content-buttom {
    display: block;
    padding: 10px 30px;
    background-color: #047aed;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto; }

.hero {
  height: 400px;
  width: 100%;
  background-color: #047aed;
  position: relative; }
  .hero::before {
    content: "";
    height: 100px;
    width: 100%;
    background-color: #fff;
    transform: skewY(-3deg);
    position: absolute;
    bottom: -70px; }
  .hero__content {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: visible; }
  .hero__text-wrap {
    height: 250px;
    width: 500px;
    margin-right: 100px;
    color: #fff;
    float: left;
    position: relative;
    top: 100px;
    text-align: center; }
  .hero__text-catchTheam {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    margin: 20px 0; }
  .hero__text-aboutLink {
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px 30px;
    position: relative;
    top: 20px;
    text-decoration: none; }
    .hero__text-aboutLink:link {
      color: #fff; }
    .hero__text-aboutLink:visited {
      color: #fff; }
    .hero__text-aboutLink:hover {
      transition: all .5s;
      background-color: #fff;
      color: #047aed; }
  .hero__signup {
    height: 350px;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: left;
    position: relative;
    top: 100px;
    z-index: 1; }
    .hero__signup-title {
      text-align: center;
      font-size: 22px;
      margin: 10px 0; }
    .hero__signup-formStyle {
      height: 236px;
      width: 320px;
      margin: 40px auto; }
    .hero__signup-emailaddressField {
      height: 57px;
      position: relative; }
    .hero__signup-emailForm {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;
      position: absolute;
      top: 27px; }
      .hero__signup-emailForm:focus {
        outline: none;
        border-bottom: 1px solid #047aed; }
    .hero__signup-passwardField {
      height: 57px;
      position: relative; }
    .hero__signup-passwordForm {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;
      position: absolute;
      top: 27px; }
      .hero__signup-passwordForm:focus {
        outline: none;
        border-bottom: 1px solid #047aed; }
    .hero__signup-confirmationPasswardField {
      height: 57px;
      position: relative; }
    .hero__signup-passwordConfirmationForm {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
      padding: 3px;
      font-size: 16px;
      position: absolute;
      top: 27px; }
      .hero__signup-passwordConfirmationForm:focus {
        outline: none;
        border-bottom: 1px solid #047aed; }
    .hero__signup-registerBtnField {
      height: 57px;
      position: relative;
      padding: 0 105px; }
    .hero__signup-registerBtn {
      position: absolute;
      top: 30px;
      padding: 10px 30px;
      background-color: #047aed;
      border: none;
      border-radius: 5px;
      color: #fff; }

.review {
  height: 670px;
  background-color: #fff;
  position: relative; }
  .review__content-block {
    height: 550px;
    max-width: 1600px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 80px; }
  .review__content-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold; }
  .review__content-wrap {
    height: 450px;
    width: 1296px;
    margin: 0 auto;
    position: relative;
    top: 25px; }
  .review__content-individual {
    height: 450px;
    width: 30%;
    background-color: #f4f4f4;
    float: left;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    margin-right: 60px; }
    .review__content-individual:last-child {
      margin-right: 0px; }

.revRegistCc-content {
  height: 1280px;
  width: 100%;
  background-color: #fff; }
  .revRegistCc-content__wrap {
    max-width: 1000px;
    margin: 30px auto; }
  .revRegistCc-content__form-element {
    height: 1230px;
    width: 630px;
    margin-left: 70px;
    float: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .revRegistCc-content__form-wrap {
    width: 500px;
    margin: 40px auto; }
  .revRegistCc-content__title {
    font-size: 2rem;
    text-align: center; }
  .revRegistCc-content__sub {
    text-align: center;
    margin-bottom: 40px; }
  .revRegistCc-content__form-title {
    width: 110px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistCc-content__form-areaForm {
    height: 100px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistCc-content__form-areaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistCc-content__bottom-wrap {
    width: 500px;
    margin: 50px auto 0px;
    text-align: center; }
  .revRegistCc-content__bottom-link {
    text-decoration: none; }
  .revRegistCc-content__bottom-return {
    padding: 10px 45px;
    background-color: #fff;
    color: #06D1EC;
    border: none;
    border: 1px solid #06D1EC; }
  .revRegistCc-content__bottom-next {
    padding: 10px 47px;
    margin-left: 50px;
    background-color: #06D1EC;
    color: #fff;
    border: none;
    border: 1px solid #fff; }

.revRegistGc-content {
  height: 630px;
  width: 100%;
  background-color: #fff; }
  .revRegistGc-content__wrap {
    max-width: 1000px;
    margin: 30px auto; }
  .revRegistGc-content__form-element {
    height: 530px;
    width: 630px;
    margin-left: 70px;
    float: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .revRegistGc-content__form-wrap {
    width: 500px;
    margin: 40px auto; }
  .revRegistGc-content__form-conciseTitle {
    width: 380px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistGc-content__form-conciseAreaForm {
    height: 25px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistGc-content__form-conciseAreaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistGc-content__title {
    font-size: 2rem;
    text-align: center; }
  .revRegistGc-content__sub {
    text-align: center;
    margin-bottom: 40px; }
  .revRegistGc-content__form-title {
    width: 70px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistGc-content__form-areaForm {
    height: 100px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistGc-content__form-areaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistGc-content__bottom-wrap {
    width: 500px;
    margin: 50px auto 0px;
    text-align: center; }
  .revRegistGc-content__bottom-link {
    text-decoration: none; }
  .revRegistGc-content__bottom-return {
    padding: 10px 45px;
    background-color: #fff;
    color: #06D1EC;
    border: none;
    border: 1px solid #06D1EC; }
  .revRegistGc-content__bottom-next {
    padding: 10px 47px;
    margin-left: 50px;
    background-color: #06D1EC;
    color: #fff;
    border: none;
    border: 1px solid #fff; }

.revRegistJr-content {
  height: 880px;
  width: 100%;
  background-color: #fff;
  overflow: hidden; }
  .revRegistJr-content__wrap {
    max-width: 1000px;
    margin: 30px auto; }
  .revRegistJr-content__form-element {
    height: 830px;
    width: 630px;
    margin-left: 70px;
    border-radius: 10px;
    float: left;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  .revRegistJr-content__form-wrap {
    margin: 50px auto;
    max-width: 480px; }
  .revRegistJr-content__title {
    font-size: 2rem;
    text-align: center; }
  .revRegistJr-content__sub {
    text-align: center; }
  .revRegistJr-content__form {
    margin: 40px; }
  .revRegistJr-content__input {
    height: 27px;
    width: 100%;
    margin-bottom: 40px;
    display: block;
    border: 0;
    border-bottom: 1px solid #b4becb; }
    .revRegistJr-content__input::placeholder {
      font-size: 15px; }
    .revRegistJr-content__input:last-child {
      margin-bottom: 0px; }
    .revRegistJr-content__input:focus {
      outline: none;
      border-bottom: 1px solid #047aed; }
  .revRegistJr-content__bottom-wrap {
    margin-top: 60px;
    height: 41px;
    width: 412px; }
  .revRegistJr-content__bottom-link {
    text-decoration: none; }
  .revRegistJr-content__bottom-cancel {
    padding: 10px 15px;
    background-color: #fff;
    color: #06D1EC;
    border: none;
    border: 1px solid #06D1EC; }
  .revRegistJr-content__bottom-next {
    padding: 10px 47px;
    margin-left: 50px;
    background-color: #06D1EC;
    color: #fff;
    border: none;
    border: 1px solid #fff; }

.revRegistJw-content {
  height: 1280px;
  width: 100%;
  background-color: #fff; }
  .revRegistJw-content__wrap {
    max-width: 1000px;
    margin: 30px auto; }
  .revRegistJw-content__form-element {
    height: 1100px;
    width: 630px;
    margin-left: 70px;
    float: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .revRegistJw-content__form-wrap {
    width: 500px;
    margin: 40px auto; }
  .revRegistJw-content__title {
    font-size: 2rem;
    text-align: center; }
  .revRegistJw-content__sub {
    text-align: center;
    margin-bottom: 40px; }
  .revRegistJw-content__form-title {
    width: 120px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistJw-content__form-areaForm {
    height: 100px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistJw-content__form-areaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistJw-content__bottom-wrap {
    width: 500px;
    margin: 50px auto 0px;
    text-align: center; }
  .revRegistJw-content__bottom-link {
    text-decoration: none; }
  .revRegistJw-content__bottom-return {
    padding: 10px 45px;
    background-color: #fff;
    color: #06D1EC;
    border: none;
    border: 1px solid #06D1EC; }
  .revRegistJw-content__bottom-next {
    padding: 10px 47px;
    margin-left: 50px;
    background-color: #06D1EC;
    color: #fff;
    border: none;
    border: 1px solid #fff; }

.revRegistPc-content {
  height: 2780px;
  width: 100%;
  background-color: #fff; }
  .revRegistPc-content__wrap {
    max-width: 1000px;
    margin: 30px auto; }
  .revRegistPc-content__form-element {
    height: 2600px;
    width: 630px;
    margin-left: 70px;
    float: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; }
  .revRegistPc-content__form-wrap {
    width: 500px;
    margin: 40px auto; }
  .revRegistPc-content__input {
    height: 27px;
    width: 100%;
    margin-bottom: 40px;
    display: block;
    border: 0;
    border-bottom: 1px solid #b4becb; }
    .revRegistPc-content__input::placeholder {
      font-size: 15px; }
    .revRegistPc-content__input:last-child {
      margin-bottom: 0px; }
    .revRegistPc-content__input:focus {
      outline: none;
      border-bottom: 1px solid #047aed; }
  .revRegistPc-content__title {
    font-size: 2rem;
    text-align: center; }
  .revRegistPc-content__sub {
    text-align: center;
    margin-bottom: 40px; }
  .revRegistPc-content__form-title {
    width: 120px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistPc-content__form-areaForm {
    height: 100px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistPc-content__form-areaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistPc-content__form-conciseTitle {
    width: 380px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #b4becb; }
  .revRegistPc-content__form-conciseAreaForm {
    height: 25px;
    width: 500px;
    background-color: #F4F4F4;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 0;
    border: 1px solid #b4becb;
    resize: none; }
    .revRegistPc-content__form-conciseAreaForm:focus {
      outline: none;
      border: 1px solid #047aed; }
  .revRegistPc-content__bottom-wrap {
    width: 500px;
    margin: 50px auto 0px;
    text-align: center; }
  .revRegistPc-content__bottom-link {
    text-decoration: none; }
  .revRegistPc-content__bottom-return {
    padding: 10px 45px;
    background-color: #fff;
    color: #06D1EC;
    border: none;
    border: 1px solid #06D1EC; }
  .revRegistPc-content__bottom-next {
    padding: 10px 47px;
    margin-left: 50px;
    background-color: #06D1EC;
    color: #fff;
    border: none;
    border: 1px solid #fff; }
