<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.6/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        verbose="true">
        <!-- テストスイート・・・実際にテストを行うファイル群を指す。 -->
    <testsuite>
        <!-- このディレクトリ要素の中に実際に動かすテストファイルやフォルダ名を指定する。
        今回の場合だとtestsフォルダの中にファイルを用意していくのでtestsを記述する。-->
        <directory suffix="Test.php">tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>